<html xmlns:th="https://www.thymeleaf.org">
<body>

<h1>Tagclouds with Hadoop</h1>

<div>
    <form method="POST" enctype="multipart/form-data" th:action="@{/uploadFile}">
        <table>
            <tr><td>File to upload:</td><td><input type="file" name="file" /></td></tr>
            <tr><td></td><td><input type="submit" value="Upload" /></td></tr>
        </table>
    </form>
    <form method="POST" enctype="multipart/form-data" th:action="@{/makeGlobal}">
        <input type="submit" value="Run Batch">
    </form>

</div>
<div>
    <h4>Uploaded Files</h4>
    <ul>
        <li th:each="file : ${files}">
            <a th:href="@{/files/{filename}(filename=${file.key})}" th:text="${file.value}" />
        </li>
    </ul>
    <h4>Tagclouds</h4>
    <ul>
        <li th:each="tagcloud : ${tagclouds}">
            <a th:href="@{/tagcloud/{filename}(filename=${tagcloud.key})}" th:text="${tagcloud.value}" />
        </li>
    </ul>
    <ul th:if="${global}">
        <li>
            <a th:href="@{/tagcloud/global}">Global Tagcloud</a>
        </li>
    </ul>
</div>

</body>
</html>